<head>
    <title>DIY Core Styles</title>
    
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="content">
        <nav class="toc">
            <ul data-bind="navlist">
                <li data-bind="navItem"><a href="#" class="dark-link"></a></li>

                <li>
                    <a href="http://github.com/diy/core-styles/" class="dark-link">+Github</a>
                </li>
            </ul>
        </nav>

        <div class="examples-wrapper">
            <article data-bind="example"><div></div></article>
        </div>
    </div>
</body>
